--swiftversion 6.0
--indent 4
--maxwidth 130
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--commas inline
--semicolons never
--stripunusedargs closure-only
--self remove
--importgrouping alpha
--header ignore
--disable redundantReturn,wrapMultilineStatementBraces,blankLinesAtStartOfScope,organizeDeclarations
--exclude Packages/QuickTodoKit/.build,DerivedData
